$fontFamily: 'Rubik', serif;

$backgrangCMain :   #215398;
$textColor:         #000;
$backgroundColor:   #fff;
$greyC:             #2d3236;
$greyC2:            #808080;
$greyC3:            #7d8082;
$blueC:             #a6bad6;
